@font-face {
  font-family: "Exposition";
  src: url("./fonts/exposition.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
